.date-divider {
  border-top: 3px solid #176bad;
  padding: 0 16px 0 0;
  margin: 0;
  text-align: right;
  height: 24px;
  line-height: 20px;
  box-sizing: border-box;
  pointer-events: none;
}

.date-label {
  display: inline-block;
  background-color: #176bad;
  color: white;
  font-weight: bold;
  font-size: 12px;
  padding: 4px 12px;
  border-radius: 12px;
  line-height: 14px;
}

.week-divider {
  border-top: 4px solid #999;
  background-color: #e9e9e9;
}

.month-divider {
  border-top: 5px solid #333;
  background-color: #ddd;
}
